body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}

.herodiv {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/heroBg.jpg");
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.herosection {
    display: flex;
    flex-direction: column;
}
.herosection img {
    width: 30vb;
    height: 30vh;
    align-self: center;
    padding-top: 5vh;
}
.herosection h2 {
    align-self: center;
}
.herosection p {
    align-self: center;
}